<% if @events.empty? %>
	<style>
		body 		{ padding-top:80px; }
	</style>
	<div class="container">
		<div class="jumbotron text-center">
			<h3 style="color: black">Welcome to Converge!</h3>
			<h5>Looks like it's your first time here. To get started, go ahead and use the app to make events, invite friends, take photos, and be cool.</h5>
		</div>
	</div>
<% else %>

	<% @events.each_slice(4) do |slice| %>
		<div class="container-fluid">
			<div class="row">
				<% slice.each do |event| %>
						<% if !event.pictures.first.nil? %>
							<% url = event.pictures.first.image.url(:thumb)%>
						<% else %>
							<% url = "http://www.eurowildlife.org/wp-content/uploads/2012/02/European-Wildlife-Brown-Bear-Bears-Extinct-Austria-Protection-Endangered-Species.jpg" %>
						<% end %>
							<div class="col-md-3" style="background: url('<%= url %>') no-repeat; background-size: cover; background-position: center center; height:328px">
								<div class="outer-wrapper">
									<div class"inner-wrapper">
										<h4><%= link_to event.name, user_event_path(current_user.uid, event.id) %></h4>
									</div>
								</div>
							</div>
				<% end %>
			</div>
		</div>
	<% end %>

<% end %>