/*.page-header{
	background-color: rgb(90, 194, 215) !important;
}
*/
body{
	background-color: black !important;
}

.center{
	text-align: center;
}

h1{
	color: white;
	font-weight: 100 !important;
}

h3{
	padding-left: 20px;
	color: white;
}

ul{
	list-style-type: none;
}

li{
	color: white;
}

table {
	background-color: #FFFFFF;
	border-radius: 15px;
}

a:hover{
	text-decoration: none;
	background-color: inherit !important;
	color: #0099CC !important;
}

a:visited{
	color: #0099CC;
}

a{
	color: white !important;
}

.container-fluid{
	padding-right: 0px;
	padding-left: 0px;
}

.col-md-3{
	padding-left: 0px;
	padding-right: 0px;
	position: relative;
}

img{
	width: 100% !important;
}

h4{
	color: white;
	text-align: center;
	display: block;
	padding: 0;
	margin: 0;
	height: 100%;
	line-height: 328px;
}

/* Vertical centering */
.outer-wrapper{
	display: table;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}

.inner-wrapper{
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	width: 100%;
}
