<h1>Listing pictures</h1>

<% @pictures.each do |picture| %>
			<%= image_tag picture.image.url(:medium) %>
			<%= picture.image_file_name %>
			<%= picture.image.url %>
<% end %>

<br>

<%= link_to 'New Picture', new_event_picture_path %>
